COLORTERM=truecolor
DBUS_SESSION_BUS_ADDRESS='unix:path=/run/user/1000/bus'
DEBUGINFOD_URLS='https://debuginfod.archlinux.org '
DESKTOP_SESSION=plasma
DISPLAY=:1
GTK2_RC_FILES=/etc/gtk-2.0/gtkrc:/home/nima/.gtkrc-2.0:/home/nima/.config/gtkrc-2.0
GTK_RC_FILES=/etc/gtk/gtkrc:/home/nima/.gtkrc:/home/nima/.config/gtkrc
HOME=/home/nima
INVOCATION_ID=0ae540d23aa043c79cbfdd97fc6d11c4
JOURNAL_STREAM=8:8850
KDE_APPLICATIONS_AS_SCOPE=1
KDE_FULL_SESSION=true
KDE_SESSION_UID=1000
KDE_SESSION_VERSION=6
KITTY_INSTALLATION_DIR=/usr/lib/kitty
KITTY_PID=4425
KITTY_PUBLIC_KEY='1:Q6UnaxD^DoV-Q<<KM`afK7aVp+7=jYw)hZBiuZAT'
KITTY_SHELL_INTEGRATION=enabled
KITTY_WINDOW_ID=15
LANG=en_US.UTF-8
LOGNAME=nima
MAIL=/var/spool/mail/nima
MANAGERPID=664
MEMORY_PRESSURE_WATCH=/sys/fs/cgroup/user.slice/user-1000.slice/user@1000.service/session.slice/plasma-plasmashell.service/memory.pressure
MEMORY_PRESSURE_WRITE='c29tZSAyMDAwMDAgMjAwMDAwMAA='
MOTD_SHOWN=pam
OLDPWD=/home/nima/.config/nvim
P9K_TTY=new
PAM_KWALLET5_LOGIN=/run/user/1000/kwallet5.socket
PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
PWD=/home/nima/.config/nvim
QT_AUTO_SCREEN_SCALE_FACTOR=0
QT_WAYLAND_RECONNECT=1
SESSION_MANAGER=local/nimanb:@/tmp/.ICE-unix/1132,unix/nimanb:/tmp/.ICE-unix/1132
SHELL=/bin/zsh
SHLVL=1
SYSTEMD_EXEC_PID=1192
TERM=xterm-kitty
TERMINFO=/usr/lib/kitty/terminfo
USER=nima
WAYLAND_DISPLAY=wayland-0
XAUTHORITY=/run/user/1000/xauth_jmJScQ
XDG_CONFIG_DIRS=/home/nima/.config/kdedefaults:/etc/xdg
XDG_CURRENT_DESKTOP=KDE
XDG_DATA_DIRS=/home/nima/.local/share/flatpak/exports/share:/var/lib/flatpak/exports/share:/usr/local/share:/usr/share
XDG_MENU_PREFIX=plasma-
XDG_RUNTIME_DIR=/run/user/1000
XDG_SEAT=seat0
XDG_SEAT_PATH=/org/freedesktop/DisplayManager/Seat0
XDG_SESSION_CLASS=user
XDG_SESSION_DESKTOP=KDE
XDG_SESSION_ID=2
XDG_SESSION_PATH=/org/freedesktop/DisplayManager/Session1
XDG_SESSION_TYPE=wayland
XDG_VTNR=1
_P9K_TTY=/dev/pts/8
